Repository RadioAstronomySoftwareGroup/pyuvdata, pull requests merged in 2020-08, with the labels that each got.

#895 Github action yaml change. Mostly aesthetics
  .github/workflows/macosx_windows_ci.yaml
Labels: continuous_integration

#898 fix utils import so docs will build
  docs/utility_functions.rst
Labels: docs

#892 Adding capability to read the Submillimeter array "mir" format into pyuvdata.
  CHANGELOG.md
  README.md
  environment.yaml
  pyuvdata/data/sma_test.mir/antennas
  pyuvdata/data/sma_test.mir/autoCorrelations
  pyuvdata/data/sma_test.mir/bl_read
  pyuvdata/data/sma_test.mir/codes_read
  pyuvdata/data/sma_test.mir/eng_read
  pyuvdata/data/sma_test.mir/in_read
  pyuvdata/data/sma_test.mir/sch_read
  pyuvdata/data/sma_test.mir/sp_read
  pyuvdata/data/sma_test.mir/tsys_read
  pyuvdata/data/sma_test.mir/we_read
  pyuvdata/telescopes.py
  pyuvdata/tests/test_telescopes.py
  pyuvdata/uvdata/mir.py
  pyuvdata/uvdata/mir_parser.py
  pyuvdata/uvdata/tests/test_mir.py
  pyuvdata/uvdata/tests/test_mir_parser.py
  pyuvdata/uvdata/tests/test_uvdata.py
  pyuvdata/uvdata/uvdata.py
  setup.py
Labels: UVData

#905 Add pyyaml as to hera_qm environment because it is now required.
  ci/hera_qm.yml
Labels: continuous_integration
